/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

use,
svg {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Times New Roman;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

h2 {
  font-family: Times New Roman;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

h3 {
  font-family: Times New Roman;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

h4 {
  font-family: Times New Roman;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

h5 {
  font-family: Times New Roman;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

h6 {
  font-family: Times New Roman;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

p {
  font-family: Times New Roman;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

blockquote {
  font-family: Times New Roman;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

pre {
  font-family: Times New Roman;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

b {
  font-family: Times New Roman;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hat {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #000000;
  }
  .hat--logo {
    width: 60vw;
    margin-right: auto;
  }
  .hat__container--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .btn--search,
.menu__btn--open {
    background-color: black;
    height: 16px;
    border: none;
    cursor: pointer;
  }
  .btn--search {
    margin-right: 10px;
    width: 16px;
  }
  .menu__btn--open {
    width: 24px;
  }
  .menu__btn--open > svg {
    fill: #fff;
    margin-left: 5px;
  }
}
.menu-container {
  z-index: 1;
  position: fixed;
  top: 13%;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media screen and (min-width: 450px) and (max-width: 699px) {
  .menu-container {
    top: 15%;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .menu-container {
    top: 18%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .menu-container {
    top: 20%;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  position: fixed;
  z-index: 2;
}

.menu--list {
  top: 50;
  left: 50;
  width: 50px;
  height: 50px;
  background-color: tomato;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.menu--list.is-open {
  -webkit-transform: translateY(50);
          transform: translateY(50);
  background-color: yellowgreen;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.backdrop.is-hidden {
  opacity: 1;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #000000;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(100);
          transform: translateY(100);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-searching-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 20px;
  padding-right: 40px;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 50%;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.close-searching-btn > svg {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.close-searching-btn:hover > svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container__search--input {
  padding-left: 8vw;
  margin-bottom: 15px;
}
.container__search--input > label {
  position: relative;
}

.input__serch--svg {
  position: absolute;
  bottom: -50%;
  left: 3%;
}

.search-input {
  width: 80vw;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

.search__item {
  padding-left: 8vw;
  padding-right: 8vw;
  color: #ffffff;
}
.search__item:not(:last-child) {
  margin-bottom: 15px;
}

.search__label--data {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search--label {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hat {
  background-color: #000000;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

body {
  background-color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .slider--img {
    width: 100vw;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider-btn > svg {
    fill: aliceblue !important;
  }
  .swiper-button-next {
    top: 120px;
  }
  .swiper-button-prev {
    top: 150px;
  }
  .my-svg {
    fill: #fff;
    min-width: 35px;
  }
  .slider--label {
    position: absolute;
    bottom: 0;
    right: 22.4%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 55vw;
    background-color: #000000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(99%, #000000), color-stop(99%, #ffffff), to(#ffffff));
    background-image: linear-gradient(to bottom, #000000 0%, #000000 99%, #ffffff 99%, #ffffff 100%);
    color: #ffffff;
    text-align: center;
  }
  .slider--label--test {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(1%, #ffffff), color-stop(1%, #000000), to(#000000));
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 1%, #000000 1%, #000000 100%);
    width: 55vw;
  }
  .hero__container--slider.swiper.mySwiper {
    z-index: 0;
  }
  .slider--list.swiper-wrapper {
    z-index: 0;
  }
}