@media screen and (min-width: 320px) and (max-width: 1199px) {
    .slider--img {
        width: 100vw;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slider-btn {
        & > svg  {
            fill: aliceblue !important;
        }
    }
    
    .swiper-button-next {
        top: 120px;
        }
    .swiper-button-prev{
        top: 150px;
    }
    .my-svg {
        fill: #fff;
        min-width: 35px;
    }

}