@media screen and (min-width: 200px) {

.menu-container {
    z-index: 1;
    position: fixed;
    top: 13%;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #000000;
    transform: translateX(200%);
    transition: transform 250ms ease-in-out;
}

.mobile__menu--close {
    position: absolute;
    top: -9.5%;
    right: 1%;
    height: 25px;
    padding-bottom: 15px;
    background-color: $color-dark;
    border: none;
}

.menu-container.is-open {
    transform: translateX(0%);
    position: fixed;
    z-index: 2;
}
.reference__list {
    margin-top: 10px;
}
.reference__item:not(:last-child) {
    margin-bottom: 25px;
}

.reference--link {
    position: relative;
    overflow: hidden;
    color: $color-white;
    text-decoration: none;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: #ffffff;
        opacity: 0;
        transition: opacity 200ms, transform 300ms;
        transform: translate3d(-100%, 0, 0);
        }
        &:focus::after,
        &:hover::after {
        z-index: 1;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        }
    }

// 
    .menu__list {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        top: 50;
        left: 50;
        height: 150px;
        background-color: rgba($color: #000000, $alpha: 1.0);
        transform: translateY(100%);
        transition: transform 50ms ease-in-out;
}
    .menu__list.is-open {
        transform: translateY(0%);
        transition: transform 500ms ease-in-out;
        background-color: rgba(2, 3, 1, 0.405);
}
.menu__item {
    &:not(:last-child) {
    margin-right: 15px;
    }
}
.menu--link {
        text-decoration: none;
        color: $color-white;
}

// search section
    .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    transform: translateY(0%);
    transition: transform 250ms;
    }
    .backdrop.is-hidden {
    opacity: 1;
    pointer-events: none;
    visibility: hidden;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #000000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(100);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-searching-btn {
    display: flex;
    justify-content: end;
    padding-top: 40px;
    padding-right: 40px;
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 50%;
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    & > svg {
        transition-property: transform;
        transition-duration: 500ms;
    }
    &:hover > svg {
        transform: rotate(45deg);
    }
}

.container__search--input {
    padding-left: 8vw;
    margin-bottom: 15px;
    & > label  {
        position: relative;
    }
}
.input__serch--svg {
    position: absolute;
    bottom: -50%;
    left: 3%;
}
.search-input {
    width: 80vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}
.search__item {
    position: relative;
    padding-left: 8vw;
    padding-right: 8vw;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    color: $color-white;
}
.search__label--data {
    margin-top: 5px;
    margin-bottom: 5px;
}
.search--label {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);
}
.search--btn {
    z-index: 1;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.btn__search--span {
    display: none;
}

// media screen section (fix)
@media screen and (min-width: 320px) and (max-width: 450px) {
    .menu-container {
        top: 8%;
        }

        .mobile__menu--close {
        position: absolute;
        top: -5%;
        }
}

@media screen and (min-width: 450px) and (max-width: 699px) {
    .menu-container {
        top: 12%;
    }
    .mobile__menu--close {
        position: absolute;
        top: -9%;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .menu-container {
        top: 14%;
    }
    .mobile__menu--close {
        position: absolute;
        top: -11%;
        right: -0.1%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .menu-container {
        top: 17%;
    }
    .mobile__menu--close {
        position: absolute;
        top: -14%;
        right: -0.1%;
    }
}
}