@media screen and (min-width: 1200px) {
    .hero {
        margin-right: auto;
        margin-left: auto;
        max-width: 1520px;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 37%, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 1) 80%);    
    }
 .slider--item {
    & > img {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
 }
 .slider--label {
        position: absolute;
        bottom: 0;
        left: 270px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 5px;
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        background-color: $color-dark;
        background-image: linear-gradient(to bottom,
                #000000 0%,
                #000000 99%,
                #ffffff 99%,
                #ffffff 100%);
        color: $color-white;
        text-align: center;
        font-size: 25px;
        &>span {
            display: block;
            width: inherit;
            height: 50px;
        }
 }
 .slider__container--text {
    position: relative;
    width: 1520px;
    min-height: 105px;
 }
 .slider--text {
    position: absolute;
    left: 270px;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 1%,
        #000000 1%,
        #000000 100%);
    width: 600px;
    height: 65px;
    font-size: 25px;
 }
 .slider--btn {
    background-color: $color-white;
    
 }
 .swiper-button-next {
    width: 30px;
    right: 160px;
    top: 98%;
 }
 .swiper-button-prev {
    width: 30px;
    left: 1280px;
    top: 97.9%;
 }
 .my-svg {
    display: none;
 }
}